<?xml version="1.0" encoding="UTF-8"?>

<!--Plik konfiguracyjny Springa-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Wczytanie pliku properteies - sport.properties-->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Definiowanie beana -->
    <bean id="myFortuneService"
          class="com.mcieciak.springdemo.HappyFortuneService">
    </bean>

    <bean id="myCoach"
    class="com.mcieciak.springdemo.TrackCoach">
        <!--ustawienie Constructor injection-->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <!--<bean id="myCricketCoach"-->
          <!--class="com.mcieciak.springdemo.CricketCoach">-->
        <!--&lt;!&ndash;ustawienie Setter injection&ndash;&gt;-->
        <!--<property name="fortuneService" ref="myFortuneService"/>-->
    <!--</bean>-->
    
    <bean id="myCricketCoach"
            class="com.mcieciak.springdemo.CricketCoach">
        <!--ustawienie Setter injection-->
        <property name="fortuneService" ref="myFortuneService"/>
        <!--ustawienie Literal values injection-->
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <bean id="myActivityFortuneService"
          class="com.mcieciak.springdemo.ActivityFortuneService">
    </bean>

    <bean id="myActivityCoach"
          class="com.mcieciak.springdemo.ActivityCoach">
        <property name="fortuneService" ref="myActivityFortuneService"/>

        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>


</beans>





